img.top-img {
    max-height: 50px;
}
body {
    font-family: "Segoe UI","Frutiger", "serif";
    font-weight: 300;
}

/* Add a black background color to the top navigation */
.nav-div {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav-div a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-div a:hover {
    background-color: #ddd;
    color: black;
}





.flx-div.item.img {
}

.full-container{
    position:relative;
}

.colored-container-light {
    background-color: #E3FDFD;
}

.colored-container-dark {
    background-color: #CBF1F5;
}

.grid-container {
    display: grid;
    grid-gap: 1em;
    align-content: center;
    padding: 10px 2rem;
}
.grid-horizontal {
    grid-auto-flow: column;

}
.grid-vertical {
    grid-auto-flow: row;
}

.grid-entry-box {
    min-width: 400px;
    max-width: 600px;
    margin: 5px 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.grid-entry-default{
    margin: 5px 20px;
    text-align: left;
    padding-left: 10px;
}


.grid-entry-box p{
    min-height: 120px;
}

.cf-body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
}


#top-wide-img {
    object-fit: cover;
    width: auto;
    height: 400px;
}

.wrap-box {
    ;
}